.content{
     border-bottom: 2px solid #daddda;
      width: 100%;
      min-height: 140px;
      padding: 0px 80px;
}
img{
      width: 150px;
      height: 130px;
      overflow: hidden;
}

#su{
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
  width: 20px ;
  height: 1px;
  background-color: red;
}

.containe{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1z0px;
   padding: 3px 10px;
   border-bottom: 2px solid #daddda;
}
.si{
   min-height: 50px;
   
}

.containe img{
   width: 40px;
   height: 40px;
}
.sub{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.buttons{
   display: flex;
   padding-top: 50px;
   gap: 10px;
   height: 100px;
}
.buttons button{
   font-size: .9vw;
  height: 45px;
  width: 100px;
}
/*  login form csss*/
/* Bordered form */
form {
    }
    
    /* Full-width inputs */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    #butto {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    /* Add a hover effect for buttons */
    #butto:hover {
      opacity: 0.8;
    }
    
    /* Extra style for the cancel button (red) */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    
    /* Center the avatar image inside this container */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }
    
    /* Avatar image */
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    /* Add padding to containers */
    .containers {
      padding: 16px;
    }
    
    /* The "Forgot password" text */
    span.psw {
      float: right;
      padding-top: 16px;
    }
    
    /* Change styles for span and cancel button on extra small screens */
   



/*  registe r form*/



/* Full-width input fields */
input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Overwrite default styles of hr */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    
    /* Set a style for the submit/register button */
    .registerbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    .registerbtn:hover {
      opacity:1;
    }
    
    /* Add a blue text color to links */
    a {
      color: dodgerblue;
    }
    
    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
      background-color: #f1f1f1;
      text-align: center;
    }